PORT=15099
REPORTS_DIR=D:\\Scripts\\Reports
REPORTS_DIR2=D:\\Update\\HeraLav
REPORTS_DIR3=D:\\Update\\HeraERP
REPORTS_DIR4=D:\\Update\\Commerce
LOGS_DIR=C:\\HeraSis\\ServerReport\\logs
BACKUP_DIR=D:\\BACKUP
BASIC_AUTH_USER=herasoft
BASIC_AUTH_PASS=changeme
FB_HOST=127.0.0.1
FB_PORT=3050
FB_DATABASE=D:\\caminho\\DB.GDB
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_ROLE=
FB_PAGE_SIZE=4096
WEBHOOK_URL=https://heradash.bubbleapps.io/api/1.1/wf/backup_logs/
TIMEZONE=America/Sao_Paulo
